@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
  background-color: black;
}

h1 {
  color: #39ed69;
  text-align: left;
  font-family: verdana;
  font-size: 30px;
}

p {
  color: #39ed69;
  text-align: left;
  font-family: verdana;
  font-size: 20px;
}

.test1 {
  color: yellow;
  text-align: left;
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
}

