@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
  background-image: url('images/space.jpg');
  background-color: black;
}

h1 {
  color: #39ed69;
  text-align: left;
  font-family: verdana;
  font-size: 30px;
}

p {
  color: #39ed69;
  text-align: left;
  font-family: verdana;
  font-size: 20px;
}

.test1 {
  color: yellow;
  text-align: left;
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
}

.postcontainer {
  border: 2px solid red;
  padding: 5px;
  width: 400px;
  border-radius: 10px;
  margin: 1px;
  line-height: 0;
}

.posttitle {
  color: yellow;
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: red;
  width: 300px;
  overflow-wrap: break-word;
  hyphens: auto;
  word-break: break-word;
}

.posttime {
  color: red;
  text-align: right;
  font-family: sans-serif;
  font-size: 10px;
}

.posttext {
  color: white;
  text-align: left;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1;
  width: 400px;
  overflow-wrap: break-word;
  hyphens: auto;
  word-break: break-word;
}

